{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Despachos{% endblock %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block acciones %}
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'app:inicio' %}" class="nav-link">Volver</a>
    </li>
{% endblock acciones %}
{% block contenido %}
    {% load widget_tweaks %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><i class="fas fa-money-bill nav-icon"></i> {{ titulo }}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'app:inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item active">{{ titulo }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 align-self-start">
                    <div class="card card-primary">
                            <div class="card-body">
                                <table id="planillas_pagar" class="table table-sm table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Terminal</th>
                                    <th class="text-center">Entregado</th>
                                    <th class="text-center">Pendiente</th>
                                    <th class="text-center">Opciones</th>
                                </tr>
                                </thead>
                                    <tbody class="text-center">
                           {% for d in datos %}
                           <tr>
                               <td>{{ d.fecha__date }}</td>
                               <td>{{ d.id_usuario__id_sucursal__nombre }}</td>
                               <td>$ {{ d.total_entregado|floatformat|intcomma  }}</td>
                               <td>$ {{ d.total_pendiente|floatformat|intcomma }}</td>
                               <form method="post" enctype="multipart/form-data">
                                   {% csrf_token %}
                                   <input name="fecha" type="hidden" value="{{ d.fecha__date|date:'Y-m-d' }}" >
                                   <input name="accion" type="hidden" value="detalle" >
                               <td class="botones"><button type="submit" class="btn btn-secondary recibir-cuentas"><i class="far fa-edit"></i></button></td>
                                   </form>
                           </tr>
                           {% endfor %}
                           </tbody>
                            </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
{% endblock contenido %}
{% block javascripts %}
    <script src="{% static 'js/contabilidad/listar-rendiciones.js' %}"></script>
{% endblock javascripts %}

