{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Despachos{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/print.js/print.min.css' %}">
{% endblock stylesheets %}
{% block acciones %}
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'recorridos:asignar-despacho' %}" class="nav-link">Asignar Despachos</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'app:inicio' %}" class="nav-link">Volver</a>
    </li>
{% endblock acciones %}
{% block contenido %}
    {% load widget_tweaks %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><i class="fas fa-money-bill nav-icon"></i> {{ titulo }}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'app:inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item active">{{ titulo }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 align-self-start">
                    <div class="card card-primary">
                        <div class="card-header">
                            Detalles rendición
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                <h4>Planillas</h4>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-center" scope="col">Fecha</th>
                                            <th class="text-center" scope="col">Monto</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for d in datos %}
                                            <tr class="item">
                                                <td class="text-center">{{ d.fecha }}</td>
                                                <td intvalue="{{ d.monto }}" class="text-center montos">{{ d.monto }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td class="text-center">Total</td>
                                            <td id="total-ingresos" class="text-center lead"></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="col-sm-7">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Arqueo de Efectivo</h4>
                                    <form id="arqueo">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>20.000</label>
                                                    <input type="number" name="20000" class="form-control" placeholder="0" id="veintemil" tabindex="1">
                                                </div>

                                                <div class="form-group">
                                                    <label>2.000</label>
                                                    <input type="number" name="2000" class="form-control" placeholder="0" id="dosmil" tabindex="4">
                                                </div>
                                                <div class="form-group">
                                                    <label>100</label>
                                                    <input type="number" name="100" class="form-control" placeholder="0" id="cien" tabindex="7">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>10.000</label>
                                                    <input type="number" name="10000" class="form-control" placeholder="0" id="diezmil" tabindex="2">
                                                </div>
                                                <div class="form-group">
                                                    <label>1.000</label>
                                                    <input type="number" name="1000" class="form-control" placeholder="0" id="mil" tabindex="5">
                                                </div>
                                                <div class="form-group">
                                                    <label>50</label>
                                                    <input type="number" name="50" class="form-control" placeholder="0" id="cincuenta" tabindex="8">
                                                </div>

                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>5.000</label>
                                                    <input type="number" name="5000" class="form-control" placeholder="0" id="cincomil" tabindex="3">
                                                </div>
                                                <div class="form-group">
                                                    <label>500</label>
                                                    <input type="number" name="500" class="form-control" placeholder="0" id="quinientos" tabindex="6">
                                                </div>
                                                <div class="form-group">
                                                    <label>10</label>
                                                    <input type="number" name="10" class="form-control" placeholder="0" id="diez" tabindex="9">
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="mt-1 mb-2">Consignación con diferencia</h5>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          <input id="existe_diferencia" type="checkbox" name="existe_diferencia">
                                                        </span>
                                                    </div>
                                                    <input id="monto_diferencia_show" type="text" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <input id="monto_diferencia" type="hidden" name="diferencia">
                                        <input type="hidden" name="firma" value="{{ firma }}">
                                        <div class="form-group mt-3 mb-0">
                                                <textarea name="observaciones" class="form-control" rows="2" placeholder="Observaciones"></textarea>
                                        </div>
                                    </form>
                                        </div>
                                        <div class="card-footer text-bold">
                                            TOTAL: <span id="total_arqueo">0</span>
                                        </div>
                                    </div>
                                        <button id="realizar_consignacion" type="button" class="btn mt-3 btn-block btn-success disabled">Realizar Consignación</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="card_rendicion" class="col-sm-4 align-self-start">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Imprimir</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-primary btn-tool" id="reimprimir_rendicion">
                                    <i class="fas fa-print"></i>
                                </button>
                            </div>
                        </div>
                        <div id="resultado_rendicion" class="card-body">
                            <div id="imprimir">
                                <img src="/static/img/logo_alces_grises.png" class=" mx-auto d-block logo-header" style="max-height: 80px;width: auto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
{% endblock contenido %}
{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'plugins/moment/locale/es.js' %}"></script>
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.full.js' %}"></script>
    <script src="{% static 'plugins/print.js/print.min.js' %}"></script>
    <script src="{% static 'js/contabilidad/rendicion-cuentas.js' %}"></script>
{% endblock javascripts %}