{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Crear propietario{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block acciones %}
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'propietarios:listar' %}" class="nav-link">Volver</a>
    </li>
{% endblock acciones %}
{% block contenido %}
    {% load widget_tweaks %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">{{ titulo }}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'app:inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'propietarios:listar' %}">Propietarios</a></li>
                        <li class="breadcrumb-item active">{{ titulo }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 align-self-center">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">{{ subtitulo }}</h3>
                        </div>
                        <form method="post" id="crear_propietario_form" data-comunas-url="{% url 'app:get_comunas' %}">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleInputBorder">Nombre</label>
                                            {{ form.nombre|add_class:'form-control form-control-border' }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleInputBorder">Apellido</label>
                                            {{ form.apellidos|add_class:'form-control form-control-border' }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleInputBorder">RUT</label>
                                            {{ form.rut|add_class:'form-control form-control-border' }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleInputBorder">Email</label>
                                            {{ form.email|add_class:'form-control form-control-border'|attr:'type:email' }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleInputBorder">Región</label>
                                            {{ form.region|add_class:'form-control form-control-border'|remove_attr:'name' }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleInputBorder">Comuna</label>
                                            {{ form.comuna|add_class:'form-control form-control-border' }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleInputBorder">Dirección</label>
                                            {{ form.direccion|add_class:'form-control form-control-border' }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleInputBorder">Telefono</label>
                                            {{ form.telefono|add_class:'form-control form-control-border' }}
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group" style="margin-top: 2.5rem">
                                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                {{ form.activo|add_class:'custom-control-input' }}
                                                <label for="id_activo" class="custom-control-label">Esta Activo</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    </div>
                                </div>
                                {% csrf_token %}
                            </div>
                            <div class="card-footer text-right">
                                <button type="submit" class="btn btn-primary">{{ boton }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
{% endblock contenido %}
{% block javascripts %}
    <script src="{% static 'js/jquery.rut.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/propietarios/crud.js' %}"></script>
{% endblock javascripts %}