{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Despachos{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/print.js/print.min.css' %}">
{% endblock stylesheets %}
{% block acciones %}
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'recorridos:asignar-despacho' %}" class="nav-link">Asignar Despacho</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'recorridos:pago-planilla' %}" class="nav-link">Planillas por pagar</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'app:inicio' %}" class="nav-link">Volver</a>
    </li>
{% endblock acciones %}
{% block contenido %}
    {% load widget_tweaks %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><i class="fas fa-play nav-icon"></i> {{ texto.titulo }}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'app:inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item active">{{ texto.titulo }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 align-self-start">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Datos Planilla</h3>
                        </div>
                        {% if planilla.pagada is None %}<form method="post" id="generar_pago">{% endif %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <h5 class="font-weight-bold">Nro</h5>
                                        <p>{{ planilla.nro }}</p>
                                    </div>
                                    <div class="col-sm-5">
                                        <h5 class="font-weight-bold">Fecha</h5>
                                        <p>{{ planilla.fecha_planilla }}</p>
                                    </div>
                                    <div class="col-sm-5">
                                        <h5 class="font-weight-bold">Bus</h5>
                                        <p>{{ planilla.bus }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5 class="font-weight-bold">Recorrido</h5>
                                        <p>{{ planilla.recorrido }}</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5 class="font-weight-bold">Vueltas</h5>
                                        <p>{{ planilla.vueltas }}</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5 class="font-weight-bold">Costo</h5>
                                        <p id="costo_planilla">{{ planilla.precio }}</p>
                                    </div>
                                </div>
                                {% if planilla.pagada is None %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                                <label for="fecha_despacho">Forma de pago:</label>
                                                {{ form.tipo_pago|add_class:'form-control' }}
                                            </div>
                                    </div>
                                </div>
                                {% csrf_token %}
                                <input id="accion" name="accion" type="hidden" value="pagar_planilla">
                                {% endif %}
                            </div>
                            {% if planilla.pagada is None %}
                            <div class="card-footer text-right" id="pago_footer">
                                <button type="submit" class="btn btn-primary transicion" id="btn-pago">Pagar Planilla</button>
                            </div>
                            {% endif %}
                        {% if planilla.pagada is None %}</form>{% endif %}
                    </div>
                </div>
                <div class="col-sm-6 align-self-center">
                    <div class="text-center d-none transicion" id="loader_vale_cobro">
                        <div class="spinner-border " role="status">
                            <span class="sr-only">Cargando...</span>
                        </div>
                    </div>
                    <div id="card_vale_pago" class="card card-primary d-none transicion">
                        <div class="card-header">
                            <h3 class="card-title">{{ texto.seccion2 }}</h3>
                        </div>
                            <div class="card-body" id="vale_cobro">
                            </div>
                            <div class="card-footer text-right">
                                <button type="submit" class="btn btn-primary" onclick="printJS({printable: 'vale_cobro', type: 'html', targetStyles: ['*']})">Imprimir Vale Pago</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
    <!-- Modal -->
{% endblock contenido %}
{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'plugins/moment/locale/es.js' %}"></script>
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.full.js' %}"></script>
    <script src="{% static 'plugins/print.js/print.min.js' %}"></script>
    <script src="{% static 'js/recorridos/pagar_planilla.js' %}"></script>
{% endblock javascripts %}

