{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}{{ titulo }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/print.js/print.min.css' %}">
{% endblock stylesheets %}
{% block acciones %}
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'app:inicio' %}" class="nav-link">Inicio</a>
      </li>
    <li class="nav-item d-none d-sm-inline-block">
    <a href="{% url 'recorridos:revalidar-planilla' %}" class="nav-link">Revalidar Plannilla</a>
         </li>
{% endblock acciones %}
{% block contenido %}
    {% load widget_tweaks %}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><i class="fas fa-folder-plus nav-icon"></i> {{ titulo }}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'app:inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item active"><i class="fas fa-folder-plus nav-icon"></i> {{ titulo }}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-6">
                  <div class="card card-primary card-outline">
                      <div class="card-header">
                        <h3 class="card-title">Datos Planilla</h3>
                      </div>
                          <div class="card-body card-filtros">
                              <div class="row">
                                  <div class="col-2">
                                    <h5 class="text-bold">Folio</h5>
                                      <p>{{ planilla.nro_control }}</p>
                                  </div>
                                  <div class="col">
                                        <h5 class="text-bold">Fecha:</h5>
                                        <p>{{ planilla.fecha_planilla }}</p>
                                  </div>
                                  <div class="col">
                                        <h5 class="text-bold">Bus</h5>
                                        <p>{{ planilla.id_vehiculo.get_identidad }}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                        <h5 class="text-bold">Conductor</h5>
                                        <p>{{ planilla.id_conductor.nombreCompleto }}</p>
                                  </div>
                                  <div class="col">
                                      <h5 class="text-bold">Recorrido</h5>
                                      <p>{{ planilla.id_recorrido.nombre }}</p>
                                  </div>
                                  <div class="col">
                                      <h5 class="text-bold">Inspector</h5>
                                      <p>{{ planilla.id_user.nombre_completo }}</p>
                                  </div>
                              </div>
                          </div>
                  </div>
              </div>
              <div class="col-sm-6 align-self-center">
                  <div class="card">
                      <div class="card-body">
                          <form id="process_revalidar">
                    <div class="row">
                    <div class="col-sm-6">
                                        <div class="form-group">
                                                <label for="fecha_planilla">Fecha</label>
                                                <div class="input-group date" id="fecha_planilla"
                                                     data-target-input="nearest">
                                                    {{ form.fecha_planilla|add_class:'form-control datetimepicker-input'|attr:'data-target:#fecha_planilla' }}
                                                    <div class="input-group-append" data-target="#fecha_planilla"
                                                         data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Recorrido</label>
                        {{ form.id_recorrido|add_class:'form-control select2bs4' }}
                      </div>
                    </div>
                  </div>
                      <div class="row">
                          <div class="col-sm-6">
                      <div class="form-group">
                        <label>Conductor</label>
                        {{ form.id_conductor|add_class:'form-control select2bs4' }}
                      </div>
                    </div>
                      </div>
                      </div>
                      <div class="card-footer">
                                        <button type="submit" id="revalidar_planilla" class="btn btn-info float-right mt-auto" planilla_anular="{{ planilla.nro_control }}">Revalidar</button>
                      </div>
                          </form>
                  </div>
              </div>
          </div>
        <div class="row">
           <div class="col align-self-center">
               <div class="card">
                   <div class="card-header">
                       <h3 class="card-title">
                           Despachos Asociados
                       </h3>
                   </div>
                   <div class="card-body">
                       <table class="table table-sm table-bordered table-striped">
                           <thead>
                           <tr class="text-center">
                               <th>Folio</th>
                               <th>Hora</th>
                               <th>Conductor</th>
                               <th>Auxiliar</th>
                               <th>Variante</th>
                               <th>Sucursal</th>
                               <th>Inspector</th>
                           </tr>
                           </thead>
                           <tbody class="text-center">
                           {% for d in despachos %}
                           <tr>
                               <td>{{ d.id }}</td>
                               <td>{{ d.hora_salida_ss }}</td>
                               <td>{{ d.id_conductor.nombreCompleto }}</td>
                               <td>{% if d.id_auxiliar is not Null %}
                                   {{ d.id_auxiliar.nombreCompleto }}
                                   {% else %}
                                   <i class="fas fa-user-alt-slash"></i>
                                   {% endif %}</td>
                               <td>{{ d.variante_text }}</td>
                               <td>{{ d.id_suc_despacho.nombre }}</td>
                               <td>{{ d.id_usuario.nombre_completo }}</td>
                           </tr>
                           {% endfor %}
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
        </div>

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
{% endblock contenido %}
{% block javascripts %}
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'plugins/moment/locale/es.js' %}"></script>
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.full.js' %}"></script>
    <script src="{% static 'plugins/print.js/print.min.js' %}"></script>
    <script src="{% static 'js/recorridos/revalidar-planilla.js' %}"></script>
{% endblock javascripts %}