.table td, .table th {
    vertical-align: middle;
}
td.botones{
    text-align: center;
}
td.botones button {
    margin: 0 5px;
}

.input-group.patente input:first-child {
    width: 75%;
}

.transicion{
    -webkit-transition: opacity 300ms, visibility 300ms;
  transition: opacity 300ms, visibility 300ms;
}

@media print {
  .imprimir_termica {
    width: 80mm;
  }
}
.card-filtros .form-group{
    margin-bottom: 0
}