{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}{{ titulo }}{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block acciones %}
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'conductores:listar' %}" class="nav-link">Volver</a>
    </li>
{% endblock acciones %}
{% block contenido %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">{{ titulo }}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'app:inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'conductores:listar' %}">Usuarios</a></li>
                        <li class="breadcrumb-item active">{{ titulo }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-default">
                        <form method="post" action=".">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    {{ subtitulo }}
                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="alert alert-danger alert-dismissible">
                                    <h5><i class="icon fas fa-ban"></i> Importante!</h5>
                                    Estas seguro que deseas eliminar a {{ object.nombre }} {{ object.apellidos }}
                                    RUT: {{ object.rut }} de la plataforma?
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer text-right">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Eliminar</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->

            </div>

        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
{% endblock contenido %}
{% block javascripts %}
    <script>
        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                if (!data.hasOwnProperty('error')) {
                        $.alert({
                            title: 'Eliminado',
                            icon: 'fa fa-info-circle',
                            type: 'red',
                            content: 'Usuario Eliminado',
                            autoClose: 'ok|2000',
                            buttons: {
                                ok: {
                                    btnClass: 'btn-blue',
                                    text: 'OK',
                                    action: function(){
                                        location.href = '{% url 'conductores:listar' %}'
                                    }
                                }
                            }
                        });
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        });
    </script>
{% endblock javascripts %}