{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'app:inicio' %}" class="brand-link">
        <img src="{% static 'img/logo_alces.png' %}" alt="Los Alces" class="brand-image"
             style="float: none;display: block;margin-left: auto;margin-right: auto">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'img/user-icon.png' %}" class="img-circle elevation-2" alt="Imagen Usuario">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item {% if seccion == 'recorridos' %}menu-open{% endif %}">
                    <a href="#" class="nav-link">
                        <i class="fas fa-route"></i>
                        <p>
                            Recorridos
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'recorridos:asignar-despacho' %}"
                               class="nav-link {% if request.path == '/asignarDespacho/' %}active{% endif %}">
                                <i class="fas fa-play nav-icon"></i>
                                <p>Asignar Despachos</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'recorridos:informe-despachos' %}"
                               class="nav-link {% if request.path == '/informeDespachos/' %}active{% endif %}">
                                <i class="far fa-calendar-alt nav-icon"></i>
                                <p>Informe Despachos</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'recorridos:pago-planilla' %}"
                               class="nav-link {% if request.path == '/pagoPlanilla/' %}active{% endif %}">
                                <i class="fas fa-money-bill nav-icon"></i>
                                <p>Pago Planilla</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'cuenta:usuarios' %}"
                               class="nav-link {% if request.path == '/recorridos/servicios/' %}active{% endif %}">
                                <i class="fas fa-folder-plus nav-icon"></i>
                                <p>Revalidar Planilla</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'cuenta:usuarios' %}"
                               class="nav-link {% if request.path == '/recorridos/servicios/' %}active{% endif %}">
                                <i class="fas fa-folder-minus nav-icon"></i>
                                <p>Anular Planilla</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'recorridos:listar-servicios' %}"
                               class="nav-link {% if request.path == '/administrarServicios/' %}active{% endif %}">
                                <i class="fas fa-business-time nav-icon"></i>
                                <p>Administrar Servicios</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item {% if seccion == 'contabilidad' %}menu-open{% endif %}">
                    <a href="#" class="nav-link">
                        <i class="fas fa-file-invoice-dollar"></i>
                        <p>Contabilidad<i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'contabilidad:rendicion-cuentas' %}"
                               class="nav-link {% if request.path == '/rendicionCuentas/' %}active{% endif %}">
                                <i class="fas fa-receipt"></i>
                                <p>Rendicion de Cuentas</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item {% if seccion == 'directorio' %}menu-open{% endif %}">
                    <a href="#" class="nav-link">
                        <i class="far fa-list-alt"></i>
                        <p>Directorio
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'propietarios:listar' %}"
                               class="nav-link {% if request.path == '/propietarios/' %}active{% endif %}">
                                <i class="far fa-address-card"></i>
                                <p>Propietarios</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'buses:listar_vehiculo' %}"
                               class="nav-link {% if request.path == '/buses/' %}active{% endif %}">
                                <i class="fas fa-bus nav-icon"></i>
                                <p>Buses</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'conductores:listar_conductores' %}"
                               class="nav-link {% if request.path == '/conductores/' %}active{% endif %}">
                                <i class="fas fa-user-tie nav-icon"></i>
                                <p>Conductores</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'conductores:listar_auxiliares' %}"
                               class="nav-link {% if request.path == '/auxiliares/' %}active{% endif %}">
                                <i class="fas fa-user-tag nav-icon"></i>
                                <p>Auxiliares</p>
                            </a>
                        </li>
                    </ul>
                </li>
            {% if request.user.is_superuser %}
                <li class="nav-item {% if seccion == 'admin' %}menu-open{% endif %}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-toolbox"></i>
                        <p>Administración<i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'cuenta:usuarios' %}"
                               class="nav-link {% if request.path == '/usuarios/' %}active{% endif %}">
                                <i class="far fa-user nav-icon"></i>
                                <p>Usuarios</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'app:listar-sucursales' %}"
                               class="nav-link {% if request.path == '/sucursales/' %}active{% endif %}">
                                <i class="fas fa-house-user nav-icon"></i>
                                <p>Sucursales</p>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
                <li class="nav-item">
                    <a href="{% url 'cuenta:logout' %}" class="nav-link">
                        <i class="nav-icon fas fa-door-open"></i>
                        <p>Salir</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>