{% extends 'layouts/base.html' %}
{% block title %}Inicio{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block acciones %}
    <!--
      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li> -->
{% endblock acciones %}
{% block contenido %}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Bienvenido</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
            <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="far fa-sticky-note"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Despachos Emitidos</span>
                <span class="info-box-number">{{ despachos_emitidos }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-success"><i class="far fa-chart-bar"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Maquinas Activas</span>
                <span class="info-box-number">{{ maquinas_activas }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!--
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Otra Info</span>
                <span class="info-box-number">13,648</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Otra Info</span>
                <span class="info-box-number">93,139</span>
              </div>
            </div>
          </div>
             -->
        </div>

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
{% endblock contenido %}
{% block javascripts %}{% endblock javascripts %}