{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}{{ titulo }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock stylesheets %}
{% block acciones %}
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'buses:crear' %}" class="nav-link">Nuevo Vehiculo</a>
    </li>
{% endblock acciones %}
{% block contenido %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">{{ titulo }}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'app:inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item active">{{ titulo }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10 align-self-center">
                    <div class="card">
                        <div class="card-body">
                            <table id="listado-vehiculos" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Nro</th>
                                    <th>Patente</th>
                                    <th>Marca / Modelo</th>
                                    <th>Año</th>
                                    <th>Revision Tecnica</th>
                                    <th>Terminal Salida</th>
                                    <th>Foto</th>
                                    <th>Opciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for b in object_list %}
                                    <tr>
                                        <td>{{ b.nro }}</td>
                                        <td>{{ b.patente }}{% if b.u_patente %}-{{ b.u_patente }}{% endif %}</td>
                                        <td>{{ b.marca }} - {{ b.modelo }}</td>
                                        <td>{{ b.ano }}</td>
                                        <td>{{ b.ven_revision }}</td>
                                        <td>{{ b.get_t_salida_display }}</td>
                                        <td class="botones"><i class="far fa-eye foto_item"
                                                               load_img="{{ b.get_foto }}"></i></td>
                                        <td class="botones"><a href="{% url 'buses:actualizar' b.id %}">
                                            <button type="button" class="btn btn-secondary"><i class="far fa-edit"></i>
                                            </button>
                                        </a><a href="#">
                                            <button type="button" class="btn btn-danger"><i
                                                    class="far fa-trash-alt"></i></button>
                                        </a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
{% endblock contenido %}
{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script>
        $(function () {
            $('#listado-vehiculos').DataTable({
                language: {
                    url: '/static/plugins/datatables/es.json'
                },
                'columnDefs': [{
                    'targets': [2, 4, 7, 8],
                    'orderable': false,
                }]
            });
        })
        $('.foto_item').on('click', function () {
            var loc_img = $(this).attr("load_img");
            $.confirm({
                title: 'Fotografia',
                content: '<img class="foto_conductor" src="' + loc_img + '" alt="">',
                animation: 'top',
                animationClose: 'top',
                buttons: {
                    okay: {
                        text: 'Ok',
                        btnClass: 'btn-blue'
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}